
body{
    margin: 0;
    height: 100vh;
}
h1{
    text-align: center;
    height: 50px;
    margin: 0;
}
section{
    display: flex;
    flex-wrap: wrap;
    height: calc(100% - 50px);
    max-width: 880px;
    margin: 0 auto;

}
article {
    background-color: orange;
    height: 50%;
    width: 50%;
    border: 2px solid;
    display: block;
    box-sizing: border-box;
    padding: 15px;
}